<link rel="import" href="../../bower_components/polymer/polymer.html"/>

<link rel="stylesheet" type="text/css" href="jr-header.css"/>

<dom-module id="jr-header">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>

    <template>
        <header class="page-header">
            <nav>
                <div class="container">
                    <a href="http://wwwfr.uni.lu/snt" class="tutorial-link" class="grey-text text-lighten-3">Made by Jérôme Rancati</a>
                </div>
            </nav>
        </header>

    </template>
</dom-module>

<script>
    Polymer({
        is: "jr-header"
    });
</script>