<link rel="import" href="../../bower_components/polymer/polymer.html"/>

<link rel="stylesheet" type="text/css" href="jr-presentation.css"/>

<dom-module id="jr-presentation">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <template>
        <div class="row">
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="./img/jerome.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Jérôme Rancati<i class="material-icons right">more_vert</i></span>
                        <p><a href="#">Détails</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Jérôme Rancati<i class="material-icons right">close</i></span>
                        <ul class="collection">
                            <li class="collection-item avatar">
                                <img src="images/yuna.jpg" alt="" class="circle">
                                <p>Traverse du Vieux Four cidex 434 <br> 06330 Roquefort-les-Pins (FRANCE)
                                </p>
                            </li>
                            <li class="collection-item avatar">
                                <i class="material-icons circle">folder</i>
                                <span class="title">Title</span>
                                <p>+33(0).6.28.51.80.57<br/>+33(0).4.93.77.03.19
                                </p>
                            </li>
                            <li class="collection-item avatar">
                                <i class="material-icons circle green">insert_chart</i>
                                <p>jerome.rancati@gmail.com</p>
                            </li>
                            <li class="collection-item avatar">
                                <i class="material-icons circle red">play_arrow</i>
                                <p>2 Avril 1992 (23 ans)</p>
                                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                            </li>
                            <li class="collection-item avatar">
                                <i class="material-icons circle red">play_arrow</i>
                                <p>Permis B, véhiculé</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </template>
</dom-module>

<script>
    Polymer({
        is: "jr-presentation"
    });
</script>