<link rel="import" href="../../bower_components/polymer/polymer.html"/>

<link rel="stylesheet" type="text/css" href="jr-footer.css"/>

<dom-module id="jr-footer">
    <link rel="stylesheet" type="text/css" href="/materialize/css/materialize.css">
    <template>
        <footer id="footer-template" class="page-footer kubi-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Jérôme Rancati</h5>
                        <p class="grey-text text-lighten-4"><i>"Choisissez un travail que vous aimez et vous n'aurez pas à travailler un seul jour de votre vie."</i> Confucius</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="https://fr.linkedin.com/pub/jérôme-rancati/62/26/322">LinkedIn</a></li>
                            <li><a class="grey-text text-lighten-3" href="http://www.post.lu">Post</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2014 Copyright
                    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                </div>
            </div>
        </footer>
    </template>
</dom-module>

<script>
    Polymer({
        is: "jr-footer"
    });
</script>
